<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name=viewport content="width=device-width, initial-scale=1">
<link rel="icon" href="/images/favicon.png" type="image/png"/>
<title>λ_.index</title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30899017-1']);
  _gaq.push(['_setDomainName', 'hakutaku.me']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<link rel="stylesheet" type="text/css" href="/css/default.css"/>
<style type="text/css">
body {font-family: "omnes-pro",sans-serif;margin:0;background-color: #fff;margin: 0;}

div#header {background-color: #efefef;margin: 0;padding:1em;border-bottom: solid 1px #ccc;}
div#header p {margin: 0;padding:0.5em 0.3em 0.3em 0.3em;}
h1.title {color: #365f91;font-weight: normal;}

ul {padding-bottom: 1em;}
ul.social {list-style:none;padding-left:0.5em;}
ul.posts, ul.slides {list-style:none;padding-left:0.5em;}
</style>
</head>
<body>
$body$
</body>
</html>
